<h1>Listing Users</h1>
<%= link_to "home index", "home/index" %>
<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Salary</th>
    <th>Gender</th>
    <th>Nationality</th>
    <th>Languages</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.age %></td>
    <td><%= user.salary %></td>
    <td><%= user.gender %></td>
    <td><%= user.nationality %></td>
    <td><%= user.languages %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Account', new_user_path %>
