<center>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>
<p>
  <b>Age:</b>
  <%= @user.age %>
</p>

<p>
  <b>Salary:</b>
  <%= @user.salary %>
</p>
<p>
  <b> Gender:</b>
  <%= @user.gender %>
</p>
<p>
  <b> Nationality:</b>
  <%= @user.nationality %>
</p>
<p>
  <b> Languages:</b>
  <%= @user.languages %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</center>
