<%= form_for(@google) do |f| %>
  <% if @google.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@google.errors.count, "error") %> prohibited this google from being saved:</h2>

      <ul>
      <% @google.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>
<h2>Comments</h2>
<%= render :partial => "comments/comment",
           :collection => @google.comments %>
 
<h2>Add a comment:</h2>
<%= render "comments/form" %>
 
<br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
